
.footer{

    list-style: none;
    color:white;
    text-align:center;
  }

  .background-footer{
    background-color: grey;


}

.footer-ul{
    list-style: none;
    
    
    
}

.iconStyle{
    width:50px;
}