.text-brand{
  color:#57606f;
}

.text-head-brad{
  color:#f1f2f6;
 
}


.background-brand{
  background-color: #f1f2f6;
}


/* .btn-brand{
  color:white;
  background-color: #3742fa;
  padding-top:15px 50px;
  border-radius: 5px;
} */

.text-color-brand{
  color:#3742fa;
}


.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 50px;
}

.btn-brand {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}
.btn-brand {
   margin: 7px;
   padding: 8px 30px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-brand:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 
.side-bar{
  color:white;
  font-size:18px;
}

